.main {
  display: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;

  .img-sec {
    // border-right: 2px solid #eeeee4;
    overflow: hidden;
  }

  div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      box-shadow: 0 0px 14px 0 rgb(0 0 0 / 5%), 0px 0px 35px 7px rgb(0 0 0 / 5%);
      border-radius: 10px;

      div {
        width: 100%;
      }

      .mat-form-field {
        width: 100%;
      }


      a {
        font-family: inherit;
        font-size: 20px;

      }

      .heading {
        flex-direction: column;
        margin-bottom: 40px;


        span {
          font-size: 24px;
          font-weight: 500;
          padding: 10px;
          //font-family: -apple-system;
        }
      }

      h3 {
        font-weight: 500 !important;
      }

      p {
        font-weight: 500;
        font-family: "-apple-system";
        padding-bottom: 8px;
      }

      button {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #1f201f;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    div {
      form {
        width: 60%;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .main {
    // .img-sec {
    //   display: contents;
    // }

    div {
      form {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .main {
    .img-sec {
      display: none;
    }

    div {
      width: 80% !important;

      form {
        width: 100% !important;

        .buttons {
          width: 100% !important;
        }
      }
    }
  }
}
