.nav-btn {
  font-size: 12px;
  font-weight: 500;
  color: #484848 !important;
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
 }

 .nav-btn:hover {
  background-color: #efefef;
 }

 .nav-btn-multilevel {
  width: 100%;
 }

 .nav-btn-icon {
  margin-right: 7px;
 }


 .multi-level {
  color: #484848;
  font-weight: 500;
  font-size: 14px;

 }


