/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  .main{
    .buttons{
      button{
        background-color: #00B0FF;
      }
    }
  }

}
.mat-form-field-label {
  font-size: 0.8em!important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0;
}

.black {
  color: black !important;
}

.main {
  // background: #f5f5f0;
  padding: 10px;
  .main-form {
      .form-row {
          display: flex;

          mat-form-field {
              width: 100%;
              padding: 2px;
          }

        }
      }
  }


  .title {
    padding: 11px;
    box-shadow: 0 1px 9px 0 rgb(0 0 0 / 10%), 0px 6px 5px 0px rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .sec {
      display: flex;
      align-items: center;
      width: 50%;
      margin-left: 25px;
      margin-right: 25px;

      .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;
      }

      button {
          margin-right: 10px;
          border: 1px solid black;
          height: 43%;
          font-size: 11px;
          display: flex;
          align-items: center;
          min-width: 40px !important;
          padding: 5px;

          span {
              padding: 5px;
          }
      }

      .mat-form-field {
          display: flex;
          justify-content: flex-end;
          font-size: 14px;
          width: 100%;
      }
  }

    span {
        font-weight: 500;
        font-size: 18px;
    }

    .button-row {
        display: flex;

        button {
            margin-right: 15px;
            height: 30px;
            align-content: center;
            display: inline-grid;
            padding-right: 0;
            padding-left: 0;

            span {
                font-size: 12px;
                padding: 8px;
            }

            mat-icon {
                font-size: 15px;
                height: 15px;
            }
        }
    }
}

.table-head {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0px 6px 15px 0px rgb(0 0 0 / 7%);
    border-radius: 5px;
    padding-top: 2px;
}

.emty-table {
    text-align: center;
    font-weight: 900;
}

#button {
    cursor: pointer;
}

.tbl-sec {
    overflow: auto;

    table {
        width: 100%;
        padding: 5px;

        .mat-sort-header-container {
            align-items: center;
            //justify-content: center;
        }
    }

}

tbody {

    tr.mat-row,
    tr.mat-footer-row {
        height: 35px;
    }

    .mat-row:hover {
        //background-color: #b4b4b433 !important;
        cursor: pointer;
    }


    .material-icons {
        font-size: 20px;
    }

    .mat-cell {
        padding-right: 20px !important;
    }

}
